body {
    background-color: #171717;
    color: white;
    font-family: Montserrat;
    margin: 0;
}

.jumbotron {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
}

.jumbotron-img {
    flex: 50%;
    text-align: center;
    margin-bottom: 50px;
}

.jumbotron-text {
    flex: 50%;
}

.jumbotron-text p,
h2,
button {
    margin: 30px 30px 0 30px;
    letter-spacing: 2px;
    line-height: 1.8;
    text-align: justify;
}

.jumbotron-text p {
    text-indent: 30px;
    margin-top: 10px;
}

.content {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin-top: 30px;
    background-color: #eeebdd;
    color: black;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.skills {
    flex: 50%;
}

.other {
    flex: 50%;
    width: 10%;
}

.content div h2 {
    text-align: center;
}

.content div table {
    text-align: left;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

.content div table td {
    padding: 8px 10px;
}

.contact {
    background-color: #eeebdd;
    width: 100%;
    height: 50%;
    margin-top: 30px;
    flex: 100%;
}

.contact h2 {
    color: black;
    margin-bottom: 20px;
}

.container-contact {
    width: 40%;
    margin: 0 auto;
}

input[type='email'],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 10px;
}

input[type='submit'] {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: rgb(255, 202, 44);
    box-shadow: 0px 2px 2px black;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
}

input[type='submit']:hover {
    box-shadow: none;
}

input[type='email']:hover,
textarea:hover {
    border: 1px solid rgb(255, 202, 44);
}

.footer {
    text-align: center;
    padding-bottom: 10px;
}

@media only screen and (max-width: 576px) {
    .container-contact {
        width: 80%;
    }
    .jumbotron-img,
    .jumbotron-text {
        flex: 100%;
    }
    .jumbotron-img img {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .container-contact {
        width: 80%;
    }
    .other,
    .skills {
        flex: 100%;
    }
    .jumbotron-img,
    .jumbotron-text {
        flex: 100%;
    }
}